#about {
    margin: 3em 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .photo-de-profil {
        border-radius: 50%;
        max-width: 400px;
        height: 100%;
        width: 100%;
    }
    & .banner-div-titre {
        margin: 0 1%;
        width: 55%;
        & .banner-h1 {
        font-size: 3.7em;
        margin: auto;
        }
        & .banner-p {
            text-align: justify;
            font-size: large;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #about {
        & .div-photo-de-profil {
            width: auto;
        }
        & .banner-div-titre {
            width: 65%;
        }
    }
}

@media screen and (max-width:767px) {
    #about {
        flex-direction: column;
        & .photo-de-profil {
            max-width: 350px;
        }
        & .banner-div-titre {
            width: 100%;
            & .banner-h1 {
                text-align: center;
                margin: 3rem 0;
            }
        }
    }
}