#skills {
    margin: 6em 2em;
    & .skills-div {
        margin: 3em 0;
        display: flex;
        justify-content: space-evenly;
        & figure {
            text-align: center;
            margin: 0;
            & .img-skills-frontend {
                max-width: 100%;
            }
            & .img-skills-backend {
                max-width: 100%;
            }
            & figcaption {
                text-align: center;
                margin: 1em;
            }
        }     
    }
    & .container {
        margin: 3em 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
       
        & .container-div { 
            background-color: aliceblue;
            margin: 1rem;
            padding: 1rem;
            text-align: justify;
            color: #0000009f;
            & h3{
            color: #0000009f;
            } 
        }
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #skills {
        & .skills-div {
            flex-direction: column;
            align-items: center;
            & figure {
                & .img-skills-frontend {
                    max-width: 80%;
                }
                & .img-skills-backend {
                    max-width: 80%;
                }
            }
        }
        & .container {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media screen and (max-width:767px) {
    #skills {
        & h2{
            text-align: center;
        }
        & .skills-div {
            flex-direction: column;
            align-items: center;
            & figure {
                & .img-skills-frontend {
                    max-width: 80%;
                }
                & .img-skills-backend {
                    max-width: 80%;
                }
            }
        }
        & .container {
            display: flex;
            flex-direction: column;
        }
    }
}