header {
    display: flex;
    height: 4rem;

    & .header-logo {
        font-weight: 700;
        font-size: 1.2em;
        margin-left: 2em;
    }
    & .hamburger-btn {
        display: none;
        & .hamburger-icon i {
            font-size: 1.5rem;
            color: #213547;
        }
    }
    & .header-nav {
        flex: 1;
        align-content: center;
        & .header-ul {
        display: flex;
        justify-content: space-between;
        & li {
            list-style-type: none;
            & a {
                text-decoration: none;
                padding: 0 1em;
                box-sizing: border-box;
                border: 2px solid transparent;
                color: #536266;
                font-weight: 500;
            }
            & a:hover{
                border: 2px solid #44817e;
                border-style: none solid;
                border-radius: 5px;
                color: #44817e;
                font-weight: 600;
            }
        }
    }
    }
} /* ? ajout des icons, button avec img carrés, objectif-fit cover ne fonctionne pas */

@media screen and (max-width:767px) {
    header {
        justify-content: space-between;
        align-items: center;

        & .hamburger-btn {
            background: none;
            border: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 30px;
            height: 30px;
            border-radius: 5px;

            & .hamburger-icon {
                background-color: white;
            }
        }
        &.open {
            & ~ main, & ~ footer {
                display: none;
            }

            & .header-nav {
                display: flex;
            }
        }
        & .header-nav {
            display: none;
            position: fixed;
            background-color: white;
            top: 4rem;
            left: 0;
            height: calc(100vh - 4rem);
            width: 100vw;
            align-items: center;
            
            & .header-ul {
                display: flex;
                flex-direction: column;
                font-size: 2rem;
                text-align: center;
                gap: 1rem;
            }
            & .header-ul li {
                margin: 1rem 0;
                &.header-ul li a {
                color: white;
                text-decoration: none;
                font-size: 1.2rem;
                transition: color 0.3s;
                }
                &.header-ul li a:hover {
                    color: #ff9800;
                }
            }
            .hamburger-btn {
                display: none;
            }
        }
    }
 
}