header {
    display: flex;
    & .header-logo {
        font-weight: 700;
        font-size: 1.2em;
        margin-left: 2em;
    }
    & .header-nav {
        align-content: center;
        & .header-ul {
        display: flex;
        & li {
            list-style-type: none;
            margin: 0 3em;
            & a {
                text-decoration: none;
                padding: 0 1em;
                box-sizing: border-box;
                border: 2px solid transparent;
                color: #536266;
                font-weight: 500;
            }
            & a:hover{
                border: 2px solid #44817e;
                border-style: none solid;
                border-radius: 5px;
                color: #44817e;
                font-weight: 600;
            }
        }
    }
    }
    
}